BASE_URL={{ plausible_base_url }}
SECRET_KEY_BASE={{ (secret_key_base.content | b64decode) }}
TOTP_VAULT_KEY={{ (totp_vault_key.content | b64decode) }}
DATABASE_URL=postgres://postgres:{{ (pg_password.content | b64decode) }}@plausible_db:5432/plausible_db
CLICKHOUSE_DATABASE_URL=http://plausible_events_db:8123/plausible_events_db
DISABLE_REGISTRATION={{ plausible_disable_registration }}
